{{!-- <!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> --}}
    
<div class="nav">
        <span class="Home-btn">
        <ul>
            <li style="margin-left:5px"><a href="/">HOME</a></li>
            {{!-- <li style="margin-right:100px"><a href="/Login">LOGIN</a></li>
            <li style="margin-right:1px"><a href="/signup">SIGN UP</a></li> --}}
        </ul>   
        </span>
        <div class = "centertext">
         <p>Share and Care</p>
         {{!-- <br> --}}
         <p>Share the experiences and Care about each other</p>   
        </div>
        <span class="Login-Signup" style="width: 15%;float:right"> 
        <ul>    
            <li><a href="/signup">REGISTER</a></li>
            <li><a href="/Login">LOGIN</a></li>
        </ul>   
        </span>
        
</div>  
<div class = "nav1">
    <input type="text" class="form__input" placeholder="Search disease">
    <i class="fa fa-search"></i>
<div class="search_button">

</div>
</div>



    {{!-- <script src="/public/js/Landing.js"></script> --}}
