<div class = "nav1">
    <form action="/" method="post" class="search" id ="searchDisease">
    <lable class="search_label" for="searchDisease">Search Disease:</lable>
    <div class="disease_search">
    <input type="text" class="form__input" placeholder="Search disease" name="searchDisease" id="searchInput"> 
    <button type="submit" class="diseaseButton"><i class="fa fa-search"></i></button>
    </div>
    <div id="error" class="hidden" ></div>
</form>
<div id="Second" class="row">
<div id="resultContainer"  class="hidden" >
</div>
</div>
</div>





<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="/public/js/landing.js"></script>




    {{!-- <script src="/public/js/Landing.js"></script> --}}
